* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.container {
  background-color: orange;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.container h1 {
  font-size: 7vw;
}
